.form-control {
	margin-top: 6px;
	height: auto !important;
}
.form-label {
	padding-bottom: 10px;
	font-weight: bold;
}
.checkbox-inline.ll, .radio-inline.ll {
	padding-left: 0px;
	padding-right: 20px;
}
.medialab-item-table {
	margin: 0 auto;
	margin-top: 25px;
}
#submit-btn {
	display: none;
}