.navbar-right {
    margin-right: 0px !important;
}
.fineuploader {
	position: relative;
}
.qq-uploader .qq-upload-drop-area, .qq-upload-extra-drop-area {
	position: relative;
	background: #fff !important;
	border: 7px dashed #ccc;
	min-height: 200px;
	height: 250px;
	cursor: pointer;
}
.qq-uploader .qq-upload-drop-area:hover {
	background: #efefef;
}
.qq-uploader .qq-upload-button {
	background: #428bca;
	display: inline-block;
}
.qq-uploader .qq-upload-drop-area span.block {
	position: relative;
	display: block;
	line-height: 40px;
}
.qq-uploader .upload-hint {
	margin-top: 60px;
	display: block;
}
.qq-uploader .qq-upload-drop-area-active {
	background: #e3e3e3;
	border-color: #428bca;
}
.qq-uploader .upload-list {
	margin-top: 12px;
}
.qq-uploader .qq-upload-item {
	position: relative;
	margin-bottom: 5px;
}
.qq-uploader .qq-upload-item.alert {
	padding: 0px !important;
}
.qq-uploader .progress {
	margin-bottom: 0px;
	height: 25px;
}
.qq-uploader .qq-hide {
	display: none !important;
}
.qq-uploader .qq-upload-cancel {
	padding: 2px 5px;
	margin-right: 0px;
}
.qq-uploader .qq-upload-info {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	padding-left: 5px;
	padding-top: 1px;
}
.qq-uploader .white {
	color: #fff !important;
}
.qq-uploader .qq-upbtn {
	margin-top: 10px;
}
.red {
	color: #a94442 !important;
}
.green {
	color: #3c763d !important;
}
.parse-file .message {	
    display: inline-block;
    vertical-align: top;
}
.type-icon {
	display: inline-block;
	padding-left: 20px;
	height: 25px;
	vertical-align: middle;
	text-transform: uppercase;
	margin-right: 10px;
}
.type-icon:hover {
	text-decoration: none;
	color: #3c763d !important;
}
.type-icon.pdf {
	background: url('icons/pdf.png') no-repeat left center;
	color: #a94442;
	
}
.type-icon.html {
	background: url('icons/html.png') no-repeat left center;
	
}
.type-icon.rmd {
	background: url('icons/rmd.png') no-repeat left center;
	color: #000;
}
.fileditor {
	display: block;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.fileditor textarea {
	min-height: 200px;
	border: 0px;
	font-family: courier;
	height: 95%;
}
textarea:focus, input:focus{
    outline: 0;
}
label.email-subject {
	margin: 20px 0;
	display: block;
}

label.email-subject input {
	border: 1px solid #eee;
	width: 70%;
	height: 40px;
	font-size: 14px;
	vertical-align: middle;
	padding-left: 6px;
}

